.form {
    width: 100vw;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    color: #ffffff;
}

.form-content input {
    margin-bottom: 20px;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
}

.form-content button {
    margin-bottom: 20px;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: blueviolet;
    color: #ffffff;
    cursor: pointer;
    transition: 0.4s;
}

.form-content button:hover {
    background-color: rgb(92, 19, 160);
}